---
---
$dark: #444;
$light: #aaa;

@import url('https://fonts.googleapis.com/css?family=Italianno');
@import "media_queries";
@import "header";
@import "slideshow";
@import "homepage";
@import "photographer";
@import "frontend";
@import "about";


html {
    color: $dark;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Italianno', cursive;
    margin: 1rem 0 0 0;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #498fd8;
    &:hover {
        color: darken(#498fd8, 20%);
    }
}

.main_container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}


::-webkit-scrollbar { 
    display: none; 
}

.left {
    float: left;
}
.right {
    float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

#nameHeader{
    float:left;
}
#fullLinks img{
    float:right;
    clear:right;
}
#compressedLinks img{
}