---
---
@import "slideshow";

#main_container{
	margin-left: 30px;
	margin-right: 30px;
}
			
#header{
	margin-left: 5px;
}
#nameHeader{
	float:left;
}
#fullLinks img{
	float:right;
	clear:right;
}
#compressedLinks img{
}