{% assign current = page.url | downcase | split: '/' %}

<div class="header" id="header">
    <a href="/"><h1 class="logo">Danica Chang</h1></a>
    <a class="fa fa-times mobile top-nav-button"></a>
    <a class="fa fa-bars mobile top-nav-button"></a>
    <div class="nav" id="top-nav-links">
        <a href="/frontend/" {% if current[1] == 'frontend' %}class='current'{% endif %}>front-end engineer <i class="fa fa-code mobile"></i></a>
        <a href="/photographer/" {% if current[1] == 'photographer' %}class='current'{% endif %}>photographer <i class="fa fa-camera mobile"></i></a>
        <a href="/about/" {% if current[1] == 'about' %}class='current'{% endif %}>about <i class="fa fa-user mobile"></i></a>
    </div>
</div>