        <div id="header">
            <a href="slideshow.php"><img src="/images/Danica Chang Photography.png" alt="Danica Chang Photography" id="nameHeader" /></a>
            <div id="fullLinks" style="display:none;">
                <a href="slideshow.php?s=people"><img src="/images/people.png" alt="People" class="headerlink" /></a>
                <a href="slideshow.php?s=places"><img src="/images/places.png" alt="Places" class="headerlink" /></a>
                <a href="slideshow.php?s=food"><img src="/images/food.png" alt="Food" class="headerlink" /></a>
                <br clear="all" />
            </div>
            <div id="compressedLinks">
                <br clear="both" />
                <a href="slideshow.php?s=people"><img src="/images/people.png" alt="People" class="headerlink" /></a>
                <a href="slideshow.php?s=places"><img src="/images/places.png" alt="Places" class="headerlink" /></a>
                <a href="slideshow.php?s=food"><img src="/images/food.png" alt="Food" class="headerlink" /></a>
            </div>
        </div>