{% assign current = page.url | downcase | split: '/' %}

<div class="header" id="header">
    <a href="/"><h1 class="logo">Danica Chang</h1></a>
    <a class="fa fa-times mobile top-nav-button"></a>
    <a class="fa fa-bars mobile top-nav-button"></a>
    <div class="nav" id="top-nav-links">
        <a href="/frontend/" {% if current[1] == 'frontend' %}class='current'{% endif %}>front-end engineer</a>
        <a href="/photographer/" {% if current[1] == 'photography' %}class='current'{% endif %}>photographer</a>
        <a href="/about/" {% if current[1] == 'about' %}class='current'{% endif %}>about</a>
    </div>
</div>