.about {
    padding: 1rem;
	
	section {
        display: flex;
		@include mobile {
			flex-flow: row wrap;
			> * {
				width: 100%;
			}
		}
        > * {
            @include desktop {
                margin-right: 2rem;
            }
        }
    }
	
	
    h1 {
        margin-top: 2rem;
    }
	
	.profile {
		@include desktop {
			width: 350px;
		}
		@include mobile {
			img {
				margin: 0 auto;
				display: block;
				max-width: 350px;
				width: 100%;
			}
		}
	}
}