.frontend {
    @include desktop {
        .intro {
            padding: 0 1rem;
        }
    }
    section {
        padding: 3rem 0;
        display: flex;
        flex-flow: row wrap;
        > * {
            width: 100%;
            @include desktop {
                width: 50%;
                padding: 1rem;
            }
        }
        @include desktop {
            &:nth-child(odd) {
                .screenshot {
                    order: 10;
                }
            }
        }
    }
    img {
        width: 100%;
    }
    .content {
        padding: 0 1rem;
        width: 50%;
    }
    .technologies {
        margin: 0;
    }
    .fa-external-link {
        font-size: 1rem;
        margin-left: .5rem;
        display: inline-block;
    }
}