.gallery * {
	box-sizing: content-box;
}
#JustifiedGallery {
	opacity: 0;
	transition: opacity .5s;
}
.slideshowMode .thumbnail{
	padding: 3px;
	cursor: zoom-in;
}
.galleryRow{
	position:relative;
}
#overlay{
	position: fixed;
	width:100%;
	background: black;
	opacity:.9;
	top:0;
	left:0;
	z-index: 5;
	display:none;
}
.photoLabel{
	position: absolute; 
	z-index:10;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	color:black;
}

.slideshowBox{
	position: fixed;
}
.arrow{
	position: absolute;
	height: 100%;
	z-index: 20;
	opacity:0;
	cursor: pointer;
	top: 0;
	width: 3rem;
	font-size: 4rem;
	color: white;
	padding: 0 1rem;
	-webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.7));
  	filter: drop-shadow(0 0 10px rgba(0,0,0,0.7));
}
.arrow:before {
	position: absolute;
	top: 50%;
	margin-top: -32px;
}
.arrow:hover{
	opacity:.8;
}
#close{
	cursor: pointer;
	position: fixed;
	right:0;
	top:0;
	opacity:.8 !important;
	z-index:30;
	font-size: 2rem;
	padding: .5rem;
	color: white;
	-webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.7));
  	filter: drop-shadow(0 0 10px rgba(0,0,0,0.7));
}

#loading{
	left:50%;
	top:50%;
	margin-top:-22px;
	margin-left:-22px;
	position: absolute;
	opacity:0;
	z-index:1;
}
.loading_horizontal{
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slideshowBox{
	z-index:5;
}
#originals {
	display: none;
}
